{% load static %}
<!--begin block content-->
{% block content %}

<div class="col">
  <div class="card card-product card-plain">
    <div class="card-header card-header-image">
      <a href="#pablo">
        <img src="{% static 'assets/img/examples/gucci.jpg' %}" alt="" />
      </a>
    </div>
    <div class="card-body text-center">
      <h4 class="card-title">
        <a href="#pablo">Gucci</a>
      </h4>
      <p class="card-description">
        The structured shoulders and sleek detailing ensure a sharp silhouette.
        Team it with a silk pocket square and leather loafers.
      </p>
    </div>
    <div class="card-footer">
      <div class="price-container">
        <span class="price price-old"> €1,430</span>
      </div>
      <div class="stats ml-auto">
        <a href="#" class="btn btn-danger">Eliminar</a>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
